<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active img-fluid">
      <%= image_tag 'slider1.jpg' %>
      <div class="carousel-caption">
        <h1><spam class="nom"><b>nom</b></span> /nɒm/ exclamation</h1>
        <h4>Used to express pleasure at eating, or at the prospect of eating: <i>‘The mac and cheese is amazing!<b>Nom nom</b>!’</i></h4>
        <h4><span class="origin">Origin</span> Early 21st century.: the noises made by <span class="color"><b>Cookie Monster</b>.</span></h4>
         </h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<% @places.each do |place| %>

  <div class="booyah-box col-8 offset-2">
    <div class="row">
      <div class="col-md-8">
        <h1><%= link_to place.name, place_path(place) %></h1>
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p><br />
      </div>
      <div class="col-md-push-4 img-fluid">
        <% if place.photos.present? %>
          <%= image_tag place.photos.last.picture, class: 'index-photo' %> 
        <% end %>
      </div>
    </div>
    
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  
    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %> 
  </div>
<% end %>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @places %>
  </div>
  <%= will_paginate @places, :container => false %>
</div>